<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link previous" href="?page={{ object_list.previous_page_number }}">&lt;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link previous" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
        </li>
        {% endif %}

        {% for page_number in paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %} <li id="page-item"
            class="page-item {% if page_number == page_obj.number %} active {% endif %}" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link next" href="?page={{ object_list.next_page_number }}"> &gt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link next" tabindex="-1" aria-disabled="true" href="#"> &gt;</a>
            </li>
            {% endif %}
    </ul>
</div>