{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-item">{{form.email}}</div>
    <div class="form-item-error" id="errors_email">{{ form.email.errors }}</div>
    <div class="form-item">{{form.password}}</div>
    <div class="form-item-error" id="errors_password">{{ form.password.errors }}</div>
    <div class="button-submit-wrap">
        <button class="button-submit" type="submit">로그인</button>
    </div>
</form>
<div class="button-submit-wrap">
    <button class="button-submit" type="submit" onclick="location.href='{% url 'signup' %}'">회원가입</button>
</div>
{% endblock content %}